
{% extends "includes/main.html" %}
{% block title %}
  update-todo
{% endblock title %}
{% block content %}


 <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 ">
          <div class="add ">
              <form method="POST" action="">
                {% csrf_token %}
               {{form.as_p}}
            <button class="btn btn-success"  type="submit" >Update</button>
              </form>
            </div>
        </div>
    </div>

 </div>
{% endblock content %}